<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Monotum
    body
        header
            .js-weather
        main
            .js-clock.clock Clock
            .content
                .js-greeting.greeting What your Name?
                form.js-form.form
                    input(type="text", placeholder="Please, Write name here") 
                div.askToDo What do you have to do today?
                form.js-toDoForm.toDoForm
                    input(type="text", placeholder="Write a To Do here")
                ul.js-toDoList.toDoList

        script(src="js/clock.js")
        script(src="js/name.js")
        script(src="js/to-do.js")
        script(src="js/bg.js")
        script(src="js/weather.js")


