<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Chrome-App
    body
        h1.key Change
        
        h2.surface Boring Part...I wanna stop it.

        script(src="js/main.js")



        //- header
        //- main
        //-     .clock

        //-     .name
        //-     .toDo
        //- footer