<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title monotum
    body
        main
            .js-clock.clock Clock
            .js-greeting.greeting What your Name?
            form.js-form.form
                input(type="text", placeholder="Please, Write name here") 
            form.js-toDoForm
                div What do you have to do today?
                input(type="text", placeholder="Write your agenda here")
            ul.js-toDoList
            .js-weather

        script(src="js/clock.js")
        script(src="js/name.js")
        script(src="js/to-do.js")
        script(src="js/bg.js")
        script(src="js/weather.js")


